@font-face {
  font-family: 'Alibaba Health Font';
  src: url('~@/assets/fonts/AlibabaHealthFont2.0CN-45R.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba Health Font';
  src: url('~@/assets/fonts/AlibabaHealthFont2.0CN-85B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#app {
  font-family: 'Alibaba Health Font', 'Microsoft YaHei', 'PingFang SC', 'Noto Sans SC', Arial, sans-serif;
}
